body {
	margin: 0px;
	//background-color: blue;
}


.linia1
{
height: 1px;
width: 160px;
background: black;
}

.linia2
{
display: flex;
margin-left: 40px;
height: 140px;
width: 1px;
background: black;
}

.ramka
{
border-style: solid;
border-width: thick;
border-color: black;
background-color: blue;
margin-right: 600px;
}
